@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400;1,500&family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400&family=Rubik:ital,wght@0,300;0,400;1,300&display=swap');

body{ 
    margin: 0;
    width: auto;
    height: 0;
    background-color: #E9E3B4;
    font-family: 'DM Sans', sans-serif;
}

h1 {
    color: #381D2A;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Cabin', sans-serif;
}

.h-boton {
    width: 120px;
    background-color: #AABD8C;
    border-color: #AABD8C;
    padding: 5px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    box-shadow: none;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

.btn-secondary.h-boton:focus, .btn-secondary.h-boton:active {
    background-color: #AABD8C; 
    border-color: #AABD8C; 
    box-shadow: none; 
    color: #FFFFFF; 
}

.f-boton {
    width: 110px;
    background-color: rgba(62, 105, 144);
    border-color: rgba(62, 105, 144);
    padding: 5px 10px;
    border-radius: 10px;
    color: #FFFFFF;
    box-shadow: none;
    text-align: center;
    font-family: 'Cabin', sans-serif;
}

.f-boton-ancho {
    width: 150px;
    margin-left: 40px;
}

.custom-navbar-bg {
    background-color: #381D2A; 
    text-align: justify;
    font-family: 'Rubik', sans-serif;
}

.custom-navbar-bg a {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}

.navbar-nav .nav-link.active {
    color: #FFFFFF;
    font-weight: bold;
}

.navbar-nav a:hover, .navbar-nav .nav-link.active:hover {
    color: #AABD8C;    
}

.navbar-nav .nav-link{
    margin-right: 15px;
}

.container {
    display: flex; 
    padding: 20px;
}

.desc-usuario1, .desc-usuario2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 50px; 
}
.contenedor-cajas-index {
    background-color: #FFFFFF; /* White background for the container */
    padding: 1px; /* Add padding to separate the boxes from the container */
  }
.index-franja-azul {
    width: 100%;
    height: 327px;
    background-color: #3E6990;

    box-sizing: border-box;

  }
  .form-container {

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-button {
    width: 263px;
    height: 50px;
    background-color: #AABD8C;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.login-button:hover {
    background-color: #92A681;
}
.forgot-password {
    text-align: center;
    margin-top: 20px;
}
.forgot-password a {
    color: #AABD8C;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}
.register-button {
    width: 263px;
    height: 50px;
    background-color: #AABD8C;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}
.register-button:hover {
    background-color: #92A681;
}
.login-link {
    text-align: center;
    margin-top: 20px;
}
.login-link a {
    color: #AABD8C;
    text-decoration: none;
}
.login-link a:hover {
    text-decoration: underline;
}
  .box-container {
    display: flex;
    justify-content: 2; /* Adjust the space between the boxes */
    margin: 0.1cm; /* Adjust the margin to create separation */
    background-color: white;
  }
  .box {
    width: 850px;
    height: 300px;
    background-color: #E9E3B4;
    border: 4px solid white;
  }
  .box-centro {
    width: 850px;
    height: 300px;
    background-color: #E9E3B4;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .index-franja-blanca {
    width: 100%;
    height: 40px;
    background-color: white;
    text-align: right;
  }

  .imagen-familia {
    width: 320;
    height: 267;
    display: block;
    float:right;
  }



  .titulos-index {
    color: white;
    text-align: left;
    display: block;

  }

.info-usuario {
    width: 350px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(62, 105, 144, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #3E6990;
}

footer {
    background-color: #502c3d; 
    color: #E9E3B4; 
    padding: 20px 15px 15px 15px;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: 40px auto 40px auto;
    border-radius: 10px;
    overflow: hidden;
}

th {
    border: 2px solid #AABD8C;
    background-color: #AABD8C;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
}

td {
    background-color: #FFFFFF;
    text-align: center;
    padding: 7px;
}

.tabla{
    border-collapse: collapse;
    width: 100%;
    margin: 40px auto 40px auto;
    border-radius: 10px;
    overflow: hidden;
}
.tabla th{ 
    background-color: gray;
}

table{
    border-collapse: collapse;
    width: 90%;
    margin: 40px auto 40px auto;
    border-radius: 10px;
    overflow: hidden;
}

th {
    border: 2px solid #AABD8C;
    background-color: #AABD8C;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
}

td {
    background-color: #FFFFFF;
    text-align: center;
    padding: 7px;
}

.espacio_editar {
    width: 320px;
    background-color: rgba(62, 105, 144, 0.5);
    border: 1px solid rgba(62, 105, 144, 0.5);
    color: #FFFFFF;
    border-radius: 5px;
}

.container {
    display: flex; 
    padding: 20px;
}

.desc-usuario1, .desc-usuario2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 50px 50px 50px; 
}

.info-usuario {
    width: 350px;
    padding: 10px 10px 10px 10px;
    background-color: rgba(62, 105, 144, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #3E6990;
}
